@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kanit&family=Nunito+Sans:wght@300&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Rubik:ital,wght@1,300&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
    --primary-text-color : #183B56;
    --secondary-text-color : #6B859F;
    --accent-color : #0061AD;
    --accent-color-dark : #183B54;
 }
 body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
 }
 h1{
    font-size: 3rem;
 }
 h2{
    font-size: 2rem;
 }
 h3{
    font-size: 1.5rem;
 }
 .banner-text{    
    font-size: 15px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    padding: 15px 10px;
    text-align: center;
    color: #ffff;
 }
 .container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
 }
 .banner{
    background-color: var(--accent-color);
    background-image: url(./assets/asset\ 32.png);
    background-size: 300px;
 }
 .flex{
    display: flex;
    align-items: center;
 }
 ul{
    list-style: none;
 }
 .company-logo img{
    width: 150px;
 }
 .nav-links ul{
    justify-content: end;
    gap: 30px;
 }
 .main-nav{
   padding: 20px;
   justify-content: space-between;
 }
 a{
   text-decoration: none;
 }
 .nav-links{
   flex-basis: 720px;
 }
 .hover-links{
   color: var(--primary-text-color);
 }
 .hover-links:hover{
   color: var(--accent-color);
   transition: 0.2s ease-out;
 }
 .primary-button{
   font-weight: 500;
   border-radius: 5px;
   border: 0.5px solid var(--secondary-text-color);
   padding: 10px 24px;
 }
 .primary-button:hover{
  color: var(--accent-color) ;
 }
 .secondary-button{
   font-weight: 500;
   color: white;
   border-radius: 5px;
   background-color: var(--accent-color);
   padding: 10px 24px;
 }
 .header{
   padding-top: 30px;
   gap: 20px;
 }
 img{
   width: 600px;
 }
 .title h1{
   font-weight: 500;
 }
 .title button{
   margin-top: 20px;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: 500;
   border: none;
   padding:  15px 30px;
 }
 .title p{
   font-size: 20px;
   color: var(--secondary-text-color);
 }
 .secondary-button:hover{
   background-color: var(--accent-color-dark);
 }
 .detail{
   font-size: 18px;
   font-family:'Roboto', sans-serif ;
   font-weight: 300;
   text-align: center;
 }
 .companies-logo {
  width: 100px;
 }
.comp{
 justify-content: space-between;
}
.companies{
   padding-top: 80px;
}
button{
  font-family: 'Poppins', sans-serif;
}
button img{
  width: 15px;
  padding-left: 5px;
}
.features{
  margin-top: 150px;
  background-image: url(./assets/asset\ 34.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-feature{
 
  letter-spacing: -0.5px;
 
  text-align: center;
}
.main-feature h1{
  font-size: 30px;
  font-weight: 500;
}
.subfeature{
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: space-between;
gap: 30px;
margin-top: 40px;

}
.Card{
  text-align: center;
  max-width: 30%;
  min-width: 30%;
 
}
.Card h3{
  font-weight: 500;
  font-size: 20px;
}
.Card p{
  font-size: 15px;
}
.card-img{
 width: 40px;
}
.subfeature p{
  font-size: 20px;
  color: var(--secondary-text-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
.big-feature{
  padding: 40px 20px;
  gap: 50px;
}
.big-feature img{
  width: 550px;
  max-width: 100%;
}
.sub-container{
  width: 42%;
}
.sub-details h3{
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 18px;
}
.sub-details h1{
  font-size: 32px;
  letter-spacing: -.5px;
}
.sub-details p{
  font-size: 20px;
  margin-bottom: 11px;
  color: var(--secondary-text-color);
}
.sub-details img{
max-width: 100px;
margin-bottom: 30px;
}
.nav{
  margin-top: -15px;
    margin-left: -30px;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}
.portfolio{
  margin-top: 25px;
}
.portfolio img{
  width: 50px;
}
.portfolio h4{
  font-size: 18px;
  font-weight: 500;
}
.portfolio p{
 font-size: 15px;
 color: var(--secondary-text-color);

}
.reverse{
  flex-direction: row-reverse;
}
.main-example{
  text-align: center;
}
.main-example h1{
  font-size: 35px;
  font-weight: 500;
}
.second-example{
justify-content: space-between;
margin: 30px;
 
}
.ex-card{
  width: 23%;
  position: relative;
  min-height: 300px;
  background:  url(./assets/asset\ 36.jpeg);

  background-position: center;
  background-size: cover;
}
.text-card{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}
.cta{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #183b54;
}

.sub-panel h3{
  font-size: 20px;
  line-height: 24px;
  margin: 30px 20px;
  color: #ffff;
}
.panel h2{
  font-size: 40px;
  color: white;
}
.panel p{
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.main-cta{
  margin-left: 80px;
}
.list-panel li{
  padding: 5px;
  color: #ffff;
}
.list-panel2 li{
  padding: 5px;
  color: #ffff;
}
.panel1{
  margin: 18px;
  gap: 40px;
}
.st-button{
  border: none;
  margin-left: 22px;
}
.foot-banner h1{
 font-size: 40px;
}
.foot-banner p{
  color: var(--secondary-text-color);
  font-size: 20px;
}

.foot-banner{
  gap: 40px;
  padding: 40px 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.footer-main
{
  background-color: #ebf2fa;
}
.footer img{
  width: 200px;
  max-width: 100%;
}
.footer{
  padding: 80px 20px;
  display: flex;
  gap: 150px;
  background-color: #ebf2fa;
}
.footer  h3{
  font-size: 20px;
  letter-spacing: -.5px;
  
}
.Product{
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}
.Product a{
  font-size: 16px;
  color: var(--secondary-text-color);
}
.medology a{
  font-size: 16px;
  color: var(--secondary-text-color);
}
.medology{
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resource{
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resource a{
  font-size: 16px;
  color: var(--secondary-text-color);
}
.sub-footer{
  padding: 20px;
  background-color: #b9cde4;
  justify-content: center;
  display: flex;
  gap: 100px;
}
.social{
  gap: 20px;
}
.social img{
  width: 20px;
}
.policies{
  display: flex;
  gap: 40px;
}